/* Variables globales para colores y estilos de la aplicación */
:root {
  --primary-bg-color: #17191c;
  --primary-color: #ffca08;
  --secondary-color: #336baa;
  --text-color: #fff;
  --input-border-color: #4d5154;
  --border-color: #4d5154;
  --font-family: "Inter", sans-serif;
}

/* Importación de la fuente Quicksand */
@font-face {
  font-family: "Quicksand";
  src: url("../resources/fonts/Quicksand-VariableFont_wght.woff2")
      format("woff2"),
    font-weight 300 700;
  font-style: normal;
  font-display: swap;
}

/* Importación de la fuente Inter */
@font-face {
  font-family: "Inter";
  src: url("../resources/fonts/Inter-VariableFont_opsz,wght.woff2")
      format("woff2"),
    font-weight 100 900;
  font-style: normal;
  font-display: swap;
}

/* Reset general de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del cuerpo de la página */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary-bg-color) !important;
}

/* Estilos para elementos de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
ul,
ol,
label {
  color: #fff;
  font-family: "Inter", sans-serif;
}

/* Estilos para grupos de formularios */
.form-group {
  position: relative;
}

/* Efecto al enfocar elementos dentro de un grupo de formulario */
.form-group:focus-within .absolute-label {
  color: var(--primary-color);
}

/* Estilos para enlaces */
a {
  text-decoration: none !important;
}

/* Estilos para campos de entrada */
.input {
  background-color: var(--primary-bg-color);
  color: #fff;
  width: 100%;
  border: 1px solid var(--input-border-color);
  padding: 17px 15px 15px 15px;
  border-radius: 5px;
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 450;
  font-size: 14px;
  transition: all 0.3s ease;
  resize: none;
}

/* Estilos para el placeholder de los inputs */
.input::placeholder {
  color: #fff;
  opacity: 0.6;
  font-family: "Inter", sans-serif;
  font-weight: 450;
  font-size: 14px;
}

/* Efecto al enfocar los inputs */
.input:focus {
  border-color: var(--primary-color);
}

/* Estilos para etiquetas absolutas */
.absolute-label {
  position: absolute;
  top: 0;
  background-color: var(--primary-bg-color);
  padding-inline: 5px;
  left: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  pointer-events: none;
  font-size: 13px;
}

/* Estilos para botones primarios */
.primary-button {
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Variante de botón pequeño */
button.small {
  padding: 10px 15px;
  font-size: 14px;
}

/* Efecto al enfocar botones primarios */
.primary-button:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

/* Efecto hover para botones primarios */
.primary-button:hover {
  background-color: #e6b800;
  transform: scale(1.05);
}

/* Estilos para botones secundarios */
.secondary-button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none;
}

/* Efecto al enfocar botones secundarios */
.secondary-button:focus {
  outline: 2px solid var(--secondary-color);
  outline-offset: 2px;
}

/* Efecto hover para botones secundarios */
.secondary-button:hover {
  background-color: #2a4f8c;
  transform: scale(1.05);
}

/* Estilos para títulos de sección */
.section-title {
  color: var(--text-color);
  font-weight: 700;
  margin-top: 20px;
}

.swal2-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: var(--text-color);
}

button.swal2-styled {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
