:root {
  --primary-bg-color: #1b202a;
  --primary-color: #ffca08;
  --secondary-color: #336baa;
  --text-color: #fff;
  --input-border-color: #fff;
  --border-color: #2a3241;
  --font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Quicksand";
  src: url("../resources/fonts/Quicksand-VariableFont_wght.woff2")
      format("woff2"),
    font-weight 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../resources/fonts/Inter-VariableFont_opsz,wght.woff2")
      format("woff2"),
    font-weight 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary-bg-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
ul,
ol,
label {
  color: #fff;
  font-family: "Inter", sans-serif;
}

.form-group {
  position: relative;
}

.form-group:focus-within .absolute-label {
  color: var(--primary-color);
}

a {
  text-decoration: none !important;
}

.input {
  background-color: var(--primary-bg-color);
  color: #fff;
  width: 100%;
  border: 1px solid var(--input-border-color);
  padding: 17px 15px 15px 15px;
  border-radius: 5px;
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 450;
  font-size: 14px;
  transition: all 0.3s ease;
  resize: none;
}

.input::placeholder {
  color: #fff;
  opacity: 0.6;
  font-family: "Inter", sans-serif;
  font-weight: 450;
  font-size: 14px;
}

.input:focus {
  border-color: var(--primary-color);
}

.absolute-label {
  position: absolute;
  top: 0;
  background-color: var(--primary-bg-color);
  padding-inline: 5px;
  left: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  pointer-events: none;
  font-size: 13px;
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button.small {
  padding: 10px 15px;
  font-size: 14px;
}

.primary-button:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.primary-button:hover {
  background-color: #e6b800;
  transform: scale(1.05);
}

.secondary-button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none;
}

.secondary-button:focus {
  outline: 2px solid var(--secondary-color);
  outline-offset: 2px;
}

.secondary-button:hover {
  background-color: #2a4f8c;
  transform: scale(1.05);
}

.section-title {
  color: var(--text-color);
  font-weight: 700;
  margin-top: 20px;
}
